{% extends 'vamos/layout.html' %}

{% block title %}Groups{% endblock %}

{% block header %}
<h1 class="display-3 text-primary">Group</h1>
<p class="caption">※グループを選択してメンバーを選択すると、
    そのグループに登録されている利用者がONになります。
    利用者のチェックをONにしてメンバーセットすると、ONにしてある
    利用者がグループに追加されます。</p>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"
        {% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}

{% block content %}
<form action="{% url 'groups' %}" method="post">
{% csrf_token %}
<input type="hidden" name="mode" value="__groups_form__">
{{groups_form}}
<button class="btn btn-primary mt-1">メンバーを選択</button>
</form>
<hr>
<form action="{% url 'groups' %}" method="post">
{% csrf_token %}
<input type="hidden" name="mode" value="__friends_form__">
<input type="hidden" name="group" value="{{group}}">
{{friends_form}}
<button class="btn btn-primary mt-0">メンバーをセット</button>
</form>
<hr>
<p>新しいGroupの登録</p>
<form action="{% url 'creategroup' %}" method="post">
{% csrf_token %}
{{create_form}}
<button class="btn btn-primary mt-1">新しいグループを作る</button>
</form>
{% endblock %}

